@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #1f2033;
}

@layer base {
	@font-face {
		font-family: 'Header';
		font-weight: 'normal';
		src:
			url('../../public/fonts/header.woff') format('woff'),
			url('../../public/fonts/header.ttf') format('tff'),
			url('../../public/fonts/header.otf') format('otf');
	}
}
